html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: $font-roboto;
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 0.1rem;
  background-color: #2b2d31;
}

// Dark Theme
:root {
  --bg-color: #ffffff;
  --deeper-bg-color: #f5f5f5;
  --text-color: #35393f;
  --sub-text-color: #7c8187;
  --header-text-color: #35393f;
}

// Light Theme
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #151619;
    --deeper-bg-color: #2b2d31;
    --text-color: #c1c4cb;
    --sub-text-color: #c1c4cb;
    --header-text-color: #ffffff;
  }
}
