// font-family: 'Roboto', sans-serif;
$font-roboto: "Roboto", sans-serif;

// colors
$col-deepBlue: #151619;
$col-darkBlue: #1d1f22;
$col-darkCyanBlue: #2b2d31;
$col-darkGrayishBlue: #35393f;
$col-mediumDarkCyanBlue: #3f444a;
$col-lightCyanBlue: #7c8187;
$col-lightBlueShade: #c1c4cb;
$col-lightGrayShade: #e4e4e4;
$col-whiteSmoke: #f5f5f5;
$col-white: #ffffff;
$col-redOrange: #e46643;
$col-redOrangeShade: #f39765;
