// font-family: 'Roboto', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// colors
$col-deepBlue: #151619;
$col-darkBlue: #1D1F22;
$col-darkCyanBlue: #2B2D31;
$col-darkGrayishBlue: #35393F;
$col-mediumDarkCyanBlue: #3F444A;
$col-lightCyanBlue: #7C8187;
$col-lightBlueShade: #C1C4CB;
$col-lightGrayShade: #E4E4E4;
$col-whiteSmoke: #F5F5F5;
$col-white: #FFFFFF;
$col-redOrange: #E46643;
$col-redOrangeShade: #F39765;
